.example-card {
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.contenedorCards{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}
.example-header-image {
    background-size: cover;
  }
  .contenedorCards img{
    width: 240px;
    height: 170px;
  }
  mdb-carousel-item img{
    height: 350px;
  }
  .cardsProductos {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
        flex-wrap: wrap;

  }
  .cardsProductos .row {
    margin-bottom: 10px;
  }
  .cardsProductos .row div img{
    height: 160px;
  }
  .titulo {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
  }
  .titulo h2 {
    font-size: large;
    padding-left: 37px;
    margin: 0;
  }
  .titulo p {
    font-size: small;
    padding-left: 20px;
    margin: 0;
  }
  @media screen and (max-width: 600px) {
    mdb-carousel-item img{
      height: 200px;
    }
    .contenedorCards {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .cardsProductos {
         flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .titulo h2 {
      padding-left: 0;
    }
  }
